.menu {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu.main {
  top: 0;
}

.menu-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.menu.footer {
  bottom: 0;
}

.menu-item {
  padding: 1ex 1em;
  color: $menu-color1;
  text-shadow: 1px 2px 4px $menu-color2, 0 0 1ex $menu-color2;
}

.menu-item:hover {
  color: $menu-color2;
  text-shadow: 1px 2px 4px $menu-color2, 0 0 1ex $menu-color1;
}
