@media screen and (max-width: 991px) {
  .menu-container {
    position: inherit !important;
    width: 100% !important;
    height: inherit !important;
  }
}

.menu-container {
  position: fixed;
  width: 50%;
  height: 100vh;
}

.menu {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  font-size: 20px;
  font-weight: 500;
}

.menu-item {
  padding: 1ex 1em;
  color: $menu-color1;
  text-shadow: 1px 2px 4px $menu-color2, 0 0 1ex $menu-color2;
}

.menu-item:hover {
  color: $menu-color2;
  text-shadow: 1px 2px 4px $menu-color2, 0 0 1ex $menu-color1;
}
